In [1]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [] # empty list
z = ['apple','banana','cherry','orange','kiwi','melon','mango']
a = ['alex',5,'sam',7,'john',10,'james',15]
a3 = [[1,2,3],
     [4,5,6],
      [7,8,9]]

In [1]:
class Movie:
    def __init__(self,name,year):
        self.name = name
        self.year = year
movies = [
    Movie("The Matrix",1999),
    Movie("The Matrix Reloaded",2003),
    Movie("The Matrix Revolution",2003),
    Movie("The Matrix Resurrection",2021)
]

In [5]:
name = 'sakshi tripathi'
list(name)

['s', 'a', 'k', 's', 'h', 'i', ' ', 't', 'r', 'i', 'p', 'a', 't', 'h', 'i']

In [8]:
list(range(1,101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [9]:
a[0]

'alex'

In [10]:
#last item
print(a[-1])
print(a[-2])
print(a[1])

15
james
5

In [2]:
#slicing
data = list(range(1, 101))
print(data[:10]),
print(data[10:20]),
print(data[-10:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [12]:
for item in a:
    print(item)

alex
5
sam
7
john
10
james
15

In [5]:
movies = []
movies.append('shrek')
print(movies)

['shrek']

In [9]:
uinp = input('enter a movie:')
movies.append(uinp)
print(movies)

['shrek', 'abc', 'bcd']

In [7]:
print(movies)

['shrek']

In [11]:
movies.append('the matrix')
movies.append('fast and furious')
print(movies) #10 movie

['shrek', 'abc', 'bcd', 'the matrix', 'fast and furious', 'the matrix', 'fast and furious']

In [14]:
movies[2] = 'kung fu panda' #update
print(movies)

['shrek', 'abc', 'kung fu panda', 'the matrix', 'fast and furious', 'the matrix', 'fast and furious']

In [28]:
#insertion
movies.insert(5,'hum tum')
print(movies)

['hum tum', 'hum tum', 'hum tum']

In [16]:
# user created list
animelist = []
for i in range (5):
    name  = input('enter an anime:')
    animelist.append(name)
    print(animelist)

['']
['', '']
['', '', 'abc']
['', '', 'abc', 'abc']
['', '', 'abc', 'abc', 'ijk']

In [17]:
x = [1,2,3,4]
y = [5,6,7,8]
x = y # create a new list

In [18]:
x.extend(y) # modifies x
print(x)

[5, 6, 7, 8, 5, 6, 7, 8]

In [19]:
movies

['shrek',
 'abc',
 'kung fu panda',
 'the matrix',
 'fast and furious',
 'hum tum',
 'the matrix',
 'fast and furious']

In [20]:
movies.remove('fast and furious') # the first occurance will be deleted

In [21]:
movies.pop() # removes the last element

'fast and furious'

In [22]:
movies.pop(5) # remove 5th element

'the matrix'

In [23]:
value = 'inception'
if 'inception' in movies:
    movies.remove('value')
else:
    print('value not found')

value not found

In [24]:
movies.clear() # removes all element

In [25]:
movies

[]

In [32]:
books = [
    'the final empire',
    'hero of age',
    'wall of ascension',
    'the way of king',
    'words of radiance',
    'orthbringer',
    'rhythm of war',
    'warbreaker',
    'elantries',
    'white sand'
]
books_backup = books.copy() 
book2 = books

In [36]:
books.index('orthbringer')

5

In [3]:
x = [12,1,12,3,3,12,34,15,5,5,1,6]
print(x.count(1))
print(x.count(12))
print(x.count(6))
print(x.count(5))

2
3
1
2

In [38]:
books.reverse()
print(books)

['white sand', 'elantries', 'warbreaker', 'rhythm of war', 'orthbringer', 'words of radiance', 'the way of king', 'wall of ascension', 'hero of age', 'the final empire']

In [39]:
books.sort() # sort data in ascending order if all elements are of same type

In [40]:
print(books)

['elantries', 'hero of age', 'orthbringer', 'rhythm of war', 'the final empire', 'the way of king', 'wall of ascension', 'warbreaker', 'white sand', 'words of radiance']

In [41]:
books.sort(reverse=True)
print(books)

['words of radiance', 'white sand', 'warbreaker', 'wall of ascension', 'the way of king', 'the final empire', 'rhythm of war', 'orthbringer', 'hero of age', 'elantries']

In [42]:
books

['words of radiance',
 'white sand',
 'warbreaker',
 'wall of ascension',
 'the way of king',
 'the final empire',
 'rhythm of war',
 'orthbringer',
 'hero of age',
 'elantries']

In [33]:
books_backup = books.copy() 
book2 = books

In [34]:
books.append('the alloy of law')
print(books)
print(book2)
print(books_backup)

['the final empire', 'hero of age', 'wall of ascension', 'the way of king', 'words of radiance', 'orthbringer', 'rhythm of war', 'warbreaker', 'elantries', 'white sand', 'the alloy of law']
['the final empire', 'hero of age', 'wall of ascension', 'the way of king', 'words of radiance', 'orthbringer', 'rhythm of war', 'warbreaker', 'elantries', 'white sand', 'the alloy of law']
['the final empire', 'hero of age', 'wall of ascension', 'the way of king', 'words of radiance', 'orthbringer', 'rhythm of war', 'warbreaker', 'elantries', 'white sand']

In [35]:
book2 is books

True

In [46]:
books_backup is books

False

In [36]:
books_backup is books

False