In [2]:
# tuple
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [3]:
12, 13, 50

(12, 13, 50)

In [4]:
a = 12, 13, 50
print(a)
print(type(a))

(12, 13, 50)
<class 'tuple'>

In [6]:
#single element tuple
b = (13,)
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [9]:
# tuple unpacking
x1, x2, x3 =a
print(x1,x2,x3)

12 13 50

In [10]:
a = (1,3,5,6,7,12,14,16,17)
a1, a2, *a3 = a #a3 will get the remaining element as a list
print(a1,a2,a3)

1 3 [5, 6, 7, 12, 14, 16, 17]

In [11]:
a[0]

1

In [12]:
a[:4] #slicing

(1, 3, 5, 6)

In [13]:
for i in a:
    print(i)

1
3
5
6
7
12
14
16
17

In [16]:
x = (1,2,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))
print(x.count(5))
print(x.index(3)) # 3 is the value of search
print(x.index(3,5)) # 3 is the value to search and 5 is the starting idex

3
3
0
2
5

In [1]:
a = [1,2,3]
at =tuple(a)  # list to tuple
al =list(a) # a tuple to list

In [21]:
s = {1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [22]:
s1 = set() #empty sets

In [23]:
s1.add(3)
s1.add(4)
s1.add('hello')
s1.add(3)
print(s1)

{'hello', 3, 4}

In [25]:
s1.discard(3)
print(s1)# remove 3 from set s1 (remove() can also be use)

{'hello', 4}

In [26]:
for i in s1:
    print(i)

hello
4

In [30]:
name = set('sakshi tripathi')
print(name)

{'i', 's', 't', 'h', 'p', ' ', 'a', 'r', 'k'}

In [6]:
# set operation
group1 = {'apple','banana','orange','grapes','pinapple','watermelon'}
group2 = {'apple','grapes','mango','pinapple','watermelon','kiwi','papaya','mango'}

In [35]:
# union
print(group1 | group2)
print(group1.union(group2))

{'apple', 'orange', 'papaya', 'kiwi', 'mango', 'banana', 'pinapple', 'grapes', 'watermelon'}
{'apple', 'orange', 'papaya', 'kiwi', 'mango', 'banana', 'pinapple', 'grapes', 'watermelon'}

In [9]:

print(group1 & group2)
print(group1.intersection(group2))

{'apple', 'grapes', 'pinapple', 'watermelon'}
{'apple', 'grapes', 'pinapple', 'watermelon'}

In [10]:
#difference
print(group1 - group2)
print(group1.difference(group2))

{'banana', 'orange'}
{'banana', 'orange'}

In [11]:
#symmetric difference
print(group1^group2)
print(group1.symmetric_difference(group2))

{'banana', 'orange', 'kiwi', 'mango', 'papaya'}
{'banana', 'orange', 'kiwi', 'mango', 'papaya'}

In [12]:
# task
#-create a list called reports ththat will hold report of 7 students.
#-each student will have a name and marks in 3 subjects
#-use for loop to display the report of each student

In [38]:
reports = [
    ['rohan',]
]